

.tasksbutton{
    display: flex;
    justify-content: center; /* Aligne horizontalement le contenu au centre */
    align-items: center; /* Aligne verticalement le contenu au centre */
    padding: 10px; 
}